{% extends "template.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <!--
    <h1>Index</h1>
    <p class="important">
      <a class="waves-effect waves-light btn" href="/profile">Go to profile</a>
    </p>
    -->
    <h1>Calculator</h1>
    <form action="/calculate" method="POST">
        <div class="row">
            <div class="col s6">
                <div class="input-field">
                    <input name="num1" id="num1" type="text" class="validate">
                    <label for="num1">1st number</label>
                </div>
            </div>
            <div class="col s6">
                <div class="input-field">
                    <input name="num2" id="num2" type="text" class="validate">
                    <label for="num2">2nd number</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <p>
                  <label>
                    <input class="with-gap" name="action" type="radio" value="multiply"  />
                    <span>Multiply</span>
                  </label>
                </p>
            </div>
            <div class="col s3">
                <p>
                  <label>
                    <input class="with-gap" name="action" type="radio" value="divide" />
                    <span>Divide</span>
                  </label>
                </p>
            </div>
            <div class="col s3">
                <p>
                  <label>
                    <input class="with-gap" name="action" type="radio" value="add" />
                    <span>Add</span>
                  </label>
                </p>
            </div>
            <div class="col s3">
                <p>
                  <label>
                    <input class="with-gap" name="action" type="radio" value="sub" />
                    <span>Subtract</span>
                  </label>
                </p>
            </div>
        </div>
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit" name="submit" style="width:100%;">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
        <br>
        {% if ans %}
            <div class="center-align">
                <h4>{{ num1 }} {{ action }} {{ num2 }} = {{ ans }}</h4>
            </div>
        {% endif %}
        <br>
    </form>
{% endblock %}