{% extends "template.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <div class="row">
    <form class="col s12" method="POST" action="/login">
      <div class="row">
        <div class="input-field col s6">
          <input name="username" id="first_name" type="text" class="validate" required>
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="age" type="text" class="validate" name="age" required>
          <label for="age">Age</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit">Login</button>
    </form>
  </div>

  <script>
  </script>
{% endblock %}